html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.header {
  height: 80px;
}

.header > img {
  height: 83px;
}
.game-container {
  position: relative;
  height: 544px;
  display: inline-block;
}

.menu {
  display: block;
  position: absolute;
  width: 350px;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: .7;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

figure {
  display: inline-block;
  float: left;
  border: 1px solid black;
  background: url('../images/pokemon-field1.png');
  background-size: 100%;
}

ul {
  list-style: none;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 32px;
  height: 32px;
}

.snakeAI-scoreboard {
  float: left;
  border: 1px solid black;
  height: 544px;
  width: 100px;
  background-color: #ccc;
}

.snake-scoreboard {
  float: left;
  border: 1px solid black;
  height: 544px;
  width: 100px;
  background-color: #ccc;
}

.snake {
  background: url('../images/pokeball2.png');
  background-repeat: no-repeat;
}

.snakeAI {
  background: url('../images/pokeball-ai.png');
  background-repeat: no-repeat;
}

/*  ai character  */

.ai-w {
  background: url('../images/ai-west.gif');
  background-repeat: no-repeat;
}

.ai-n {
  background: url('../images/ai-north.gif');
  background-repeat: no-repeat;
}

.ai-e {
  background: url('../images/ai-east.gif');
  background-repeat: no-repeat;
}

.ai-s {
  background: url('../images/ai-south.gif');
  background-repeat: no-repeat;
}


/*  ash ketchum  */

.ash-w {
  background: url('../images/ash-west.gif');
  background-repeat: no-repeat;
}

.ash-n {
  background: url('../images/ash-north.gif');
  background-repeat: no-repeat;
}

.ash-e {
  background: url('../images/ash-east.gif');
  background-repeat: no-repeat;
}

.ash-s {
  background: url('../images/ash-south.gif');
  background-repeat: no-repeat;
}


/*  pokemon  */

.pokemon1 {
  background: url('../images/pokemon/025.gif');
  background-repeat: no-repeat;
}

.pokemon2 {
  background: url('../images/pokemon/001.gif');
  background-repeat: no-repeat;
}

.pokemon3 {
  background: url('../images/pokemon/004.gif');
  background-repeat: no-repeat;
}

.pokemon4 {
  background: url('../images/pokemon/007.gif');
  background-repeat: no-repeat;
}

.pokemon5 {
  background: url('../images/pokemon/037.gif');
  background-repeat: no-repeat;
}

.pokemon6 {
  background: url('../images/pokemon/038.gif');
  background-repeat: no-repeat;
}

.pokemon7 {
  background: url('../images/pokemon/041.gif');
  background-repeat: no-repeat;
}

.pokemon8 {
  background: url('../images/pokemon/039.gif');
  background-repeat: no-repeat;
}

.pokemon9 {
  background: url('../images/pokemon/043.gif');
  background-repeat: no-repeat;
}

.pokemon10 {
  background: url('../images/pokemon/044.gif');
  background-repeat: no-repeat;
}

.pokemon11 {
  background: url('../images/pokemon/010.gif');
  background-repeat: no-repeat;
}

.pokemon12 {
  background: url('../images/pokemon/011.gif');
  background-repeat: no-repeat;
}

.pokemon13 {
  background: url('../images/pokemon/012.gif');
  background-repeat: no-repeat;
}

.pokemon14 {
  background: url('../images/pokemon/013.gif');
  background-repeat: no-repeat;
}

.pokemon15 {
  background: url('../images/pokemon/014.gif');
  background-repeat: no-repeat;
}

.pokemon16 {
  background: url('../images/pokemon/015.gif');
  background-repeat: no-repeat;
}

.pokemon17 {
  background: url('../images/pokemon/016.gif');
  background-repeat: no-repeat;
}

.pokemon18 {
  background: url('../images/pokemon/017.gif');
  background-repeat: no-repeat;
}

.pokemon19 {
  background: url('../images/pokemon/019.gif');
  background-repeat: no-repeat;
}

.pokemon20 {
  background: url('../images/pokemon/020.gif');
  background-repeat: no-repeat;
}

.pokemon21 {
  background: url('../images/pokemon/021.gif');
  background-repeat: no-repeat;
}

.pokemon22 {
  background: url('../images/pokemon/022.gif');
  background-repeat: no-repeat;
}

.pokemon23 {
  background: url('../images/pokemon/024.gif');
  background-repeat: no-repeat;
}

.pokemon24 {
  background: url('../images/pokemon/026.gif');
  background-repeat: no-repeat;
}

.pokemon25 {
  background: url('../images/pokemon/027.gif');
  background-repeat: no-repeat;
}

.pokemon26 {
  background: url('../images/pokemon/028.gif');
  background-repeat: no-repeat;
}

.pokemon27 {
  background: url('../images/pokemon/029.gif');
  background-repeat: no-repeat;
}

.pokemon28 {
  background: url('../images/pokemon/030.gif');
  background-repeat: no-repeat;
}

.pokemon29 {
  background: url('../images/pokemon/031.gif');
  background-repeat: no-repeat;
}

.pokemon30 {
  background: url('../images/pokemon/032.gif');
  background-repeat: no-repeat;
}

.pokemon31 {
  background: url('../images/pokemon/033.gif');
  background-repeat: no-repeat;
}

.pokemon32 {
  background: url('../images/pokemon/034.gif');
  background-repeat: no-repeat;
}

.pokemon33 {
  background: url('../images/pokemon/035.gif');
  background-repeat: no-repeat;
}

.pokemon34 {
  background: url('../images/pokemon/069.gif');
  background-repeat: no-repeat;
}

.pokemon35 {
  background: url('../images/pokemon/045.gif');
  background-repeat: no-repeat;
}

.pokemon36 {
  background: url('../images/pokemon/046.gif');
  background-repeat: no-repeat;
}

.pokemon37 {
  background: url('../images/pokemon/047.gif');
  background-repeat: no-repeat;
}

.pokemon38 {
  background: url('../images/pokemon/048.gif');
  background-repeat: no-repeat;
}

.pokemon39 {
  background: url('../images/pokemon/049.gif');
  background-repeat: no-repeat;
}

.pokemon40 {
  background: url('../images/pokemon/050.gif');
  background-repeat: no-repeat;
}

.pokemon41 {
  background: url('../images/pokemon/052.gif');
  background-repeat: no-repeat;
}

.pokemon42 {
  background: url('../images/pokemon/054.gif');
  background-repeat: no-repeat;
}

.pokemon43 {
  background: url('../images/pokemon/055.gif');
  background-repeat: no-repeat;
}

.pokemon44 {
  background: url('../images/pokemon/056.gif');
  background-repeat: no-repeat;
}

.pokemon45 {
  background: url('../images/pokemon/058.gif');
  background-repeat: no-repeat;
}

.pokemon46 {
  background: url('../images/pokemon/059.gif');
  background-repeat: no-repeat;
}

.pokemon47 {
  background: url('../images/pokemon/060.gif');
  background-repeat: no-repeat;
}

.pokemon48 {
  background: url('../images/pokemon/061.gif');
  background-repeat: no-repeat;
}

.pokemon49 {
  background: url('../images/pokemon/063.gif');
  background-repeat: no-repeat;
}

.pokemon50 {
  background: url('../images/pokemon/064.gif');
  background-repeat: no-repeat;
}

.pokemon51 {
  background: url('../images/pokemon/066.gif');
  background-repeat: no-repeat;
}

.pokemon52 {
  background: url('../images/pokemon/067.gif');
  background-repeat: no-repeat;
}

.pokemon53 {
  background: url('../images/pokemon/055.gif');
  background-repeat: no-repeat;
}
